@font-face {
    font-family: 'hattori_hanzolight';
    src: url('fonts/Hattori_Hanzo-webfont.eot');
    src: url('fonts/Hattori_Hanzo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Hattori_Hanzo-webfont.woff2') format('woff2'),
         url('fonts/Hattori_Hanzo-webfont.woff') format('woff'),
         url('fonts/Hattori_Hanzo-webfont.ttf') format('truetype'),
         url('fonts/Hattori_Hanzo-webfont.svg#hattori_hanzolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'comic_reliefregular';
    src: url('fonts/ComicRelief-webfont.eot');
    src: url('fonts/ComicRelief-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ComicRelief-webfont.woff2') format('woff2'),
         url('fonts/ComicRelief-webfont.woff') format('woff'),
         url('fonts/ComicRelief-webfont.ttf') format('truetype'),
         url('fonts/ComicRelief-webfont.svg#comic_reliefregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{
    margin: 0px;
    font-family: cursive, comic_reliefregular;
    background-color: rgba(218, 218, 218, 0.568);
}


header{
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgba(218, 218, 218, 1);

    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: 2;
}


h1{
    font-family: hattori_hanzolight;
    font-size: 3.4em;
    font-weight: normal;
    color: rgb(0,0,0);
    opacity: 0.9;
    margin: 15px 0 15px 0;
}


h1:hover{
    text-decoration: underline #000 2.5px;
}


#main{
    /* size */
    width: 900px;

    /* where is */
    margin-right: auto;
    margin-left: 70px;
    margin-top: 45px;
    margin-bottom: auto;

    /* content organisation */
    display: flex;
    flex-direction: column;
}


article{
    margin: 0px;
    padding: 0px;
}


/* in article */

.background{
    padding: 25px 25px 25px 25px;
    background-color: #fff;

    margin-top: 100px;
}


/* in .background */

.content{
    margin: 0px;
    padding: 0px;
    border-bottom: #000 solid 2px;
}


/* in .content */

aside{
    float: left;
    margin: 0px 12px 0px 0px;
    padding: 0px;
}


figure{
    margin: 0 0 1px 0;
    padding: 0px;
}


figcaption{
    font-size: 0.69rem;
    font-style: oblique;
    text-align: center;
    margin: 0px;
    padding: 0px;
}


h2{
    font-size: 1.5em;
    text-align: left;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-style: italic;

    margin: 0px;
    padding: 0px;
}


.content p{
    text-align: justify;
    color: #000;
    font-size: 0.97em;
    font-weight: lighter;
    font-style: normal;

    padding: 0px;
}


.content .coupure{
    text-align: right;
    clear: both;
    margin: 0px;
    padding: 0px;
}


.coupure a{
    text-decoration: underline;
    color: rgb(255, 0, 255);
    position: relative;
    top: -10px;
    left: -25px;
    z-index: 1;
}


/* seconde partie section */

section{
    position: fixed;
    top: 145px;
    right: 70px;

    width: 400px;
    height: 560px;

    font-family: hattori_hanzolight;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}


#main_nav{
    height: 310px;
    background-color: rgba(218, 218, 218, 1);
}


h3{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;

    font-size: 2em;
    font-weight: normal;
    text-align: left;
    font-style: normal;
    text-decoration: underline #000 2px;
}


ol{   
    margin-top: 0px;
    margin-left: 15px;
    font-size: 1.4em;
    height: 235px;
    overflow: auto;
}


ol li{
    margin-bottom: 6px;
    font-weight: normal;
    color: #000;
    padding-left: 5px;
}


ol li a{
    font-weight: normal;
    text-decoration: none;
    color: #000;
}


ol li a:hover{
    text-decoration: underline;
}


/* profile */

#profile{
    height: 210px;
    background-color: rgba(218, 218, 218, 1);
}


#profile p{
    width: 360px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;

    font-size: 1.2em;
    font-weight: normal;
    font-style: italic;
    text-align: justify;
    color: #000;
}


ul{
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


ul li{
    list-style-type: none;
    margin: 0px;
    margin: 0 45px 0 0;
}


ul li a{
    color: #000;
    text-decoration: underline;
    font-size: 1.4em;
}

/* test */

*::selection{
    background-color: #ff00ff33;
}


html{
    scroll-behavior: smooth;
}


/*
*{border: #000 2px solid;}